apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: quang-readonly-role
rules:
- apiGroups: ["", "apps"]
  resources: 
    - pods
    - pods/log
    - services
    - deployments
    - replicasets
    - statefulsets
    - daemonsets
  verbs: ["get", "list", "watch"]
- apiGroups: [""]
  resources: ["configmaps", "namespaces", "nodes", "events"]
  verbs: ["get", "list", "watch"]
- apiGroups: ["networking.k8s.io"]
  resources: ["ingresses"]
  verbs: ["get", "list", "watch"]
